
<body>
<h1>Ingresaste!</h1>
<h1>Mi Perfil</h1>


<div class="profile-card">

    <div class="form-container">
        <div class="profile-info">
            <p><strong>Nombre:</strong> {{user.first_name}}</p>
            <p><strong>Apellido:</strong> {{user.last_name}}</p>
            <p><strong>Email:</strong> {{user.email}}</p>
            <p><strong>Edad:</strong> {{user.age}}</p>
            <p><strong>Cart ID:</strong> <a href="/api/carts/{{user.cart}}">{{user.cart}}</a></p>
        </div>
         <form action="/api/users/logout" method="POST">
    <button type="submit"><a href="/api/sessions/logout" class="link">Logout</a></button>
  </form>
    </div>
</body>


</div>